
@{
    ViewBag.Title = "Bulk Image";
}

<div id="fuMultipleFile" class="layout-top-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header mb-3">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h5>Bulk Upload</h5>
                </div>
            </div>
        </div>
        <div class="p-3 border">
            <div class="custom-file-container" data-upload-id="mySecondImage">
                <label class="float-right"><a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">Clear All</a></label>
                <label class="custom-file-container__custom-file">
                    <input type="file" class="custom-file-container__custom-file__custom-file-input" multiple>
                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Script/bulkImage.js"></script>
}