<label id="all-user" class="new-control new-checkbox checkbox-outline-primary m-auto">
    <input type="checkbox" class="new-control-input chk-parent select-customers-info" id="all-user">
    <span class="new-control-indicator"></span>
    <span class="ml-3 allUser">All User</span>
</label>
