<div class="col-12 p-0 float-left">
    <div class="col-12 col-sm-12 col-md-5 mb-3 mb-md-0 float-left">
        <div class="float-left border w-100 overflow-auto px-2 py-1 dragDiv">
            @for (var i = 0; i < 32; i++)
            {
                <div>Demo User</div>
            }
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mb-3 mb-md-0 float-left">
        <div class="float-left w-100 d-flex flex-column">
            <button class="btn btn-light shadow-none mb-2 mx-0">
                <span class="font-weight-bold">>></span>
            </button>
            <button class="btn btn-light shadow-none mb-2 mx-0">
                <span class="font-weight-bold">></span>
            </button>
            <button class="btn btn-light shadow-none mb-2 mx-0">
                <span class="font-weight-bold"><</span>
            </button>
            <button class="btn btn-light shadow-none mx-0">
                <span class="font-weight-bold"><<</span>
            </button>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 float-left">
        <div class="float-left border w-100 overflow-auto px-2 py-1 dropDiv">
            
        </div>
    </div>
</div>