<div class="d-flex align-items-center float-left w-100">
    <label class="float-left w-50" for="specificUser">User Mobile No:</label>
    <input type="tel" id="specificUser" placeholder="Enter Mobile No" class="form-control float-left w-50" />
</div>