
@{
    ViewBag.Title = "accessPermission";
}

<div class="page-header mt-4 py-0 px-3 col-12 widget">
    <div class="page-title my-3">
        <h3>Access Permission</h3>
    </div>
</div>

<div class="layout-top-spacing">
    <div class="widget-content widget-content-area mb-4">
        <div class="table-responsive theme-datatable basic-theme-datatable mt-4">
            <table id="access-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <label class="new-control new-checkbox checkbox-outline-primary m-auto">
                                <input type="checkbox" class="new-control-input chk-parent select-customers-info" id="customer-all-info">
                                <span class="new-control-indicator"></span>
                                <span style="visibility:hidden;">c</span>
                            </label>
                        </th>
                        <th>Module Name</th>
                        <th>Admin Status</th>
                        <th>User Status</th>
                        <th>Admin</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 32; i++)
                    {
                        <tr>
                            <td>
                                <label class="new-control new-checkbox checkbox-outline-primary m-auto">
                                    <input type="checkbox" class="new-control-input chk-parent select-customers-info" id="customer-all-info">
                                    <span class="new-control-indicator"></span>
                                    <span style="visibility:hidden;">c</span>
                                </label>
                            </td>
                            <td>Audience</td>
                            <td><span class="shadow-none badge badge-primary">Active</span></td>
                            <td><span class="shadow-none badge badge-danger">Not Active</span></td>
                            <td>
                                <button class="btn btn-danger shadow-none btn-sm">DeActive</button>
                            </td>
                            <td>
                                <button class="btn btn-success shadow-none btn-sm">Active</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="new-control new-checkbox checkbox-outline-primary m-auto">
                                    <input type="checkbox" class="new-control-input chk-parent select-customers-info" id="customer-all-info">
                                    <span class="new-control-indicator"></span>
                                    <span style="visibility:hidden;">c</span>
                                </label>
                            </td>
                            <td>Audience</td>
                            <td><span class="shadow-none badge badge-danger">Not Active</span></td>
                            <td><span class="shadow-none badge badge-primary">Active</span></td>
                            <td>
                                <button class="btn btn-success shadow-none btn-sm">Active</button>
                            </td>
                            <td>
                                <button class="btn btn-danger shadow-none btn-sm">DeActive</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Script/accessPremission.js"></script>
}