
@{
    ViewBag.Title = "addUser";
}

<div class="page-header mt-4 py-0 px-3 col-12 widget">
    <div class="page-title my-3">
        <h3>Users Not In Audience</h3>
    </div>
</div>

<div class="layout-top-spacing">
    <div class="widget-content widget-content-area mb-4">
        <div class="w-100">
            <a href="/Notification/viewUser" class="shadow-none btn btn-danger btn-sm mr-2">Back</a>
            <a href="/Notification/viewUser" class="shadow-none btn btn-success btn-sm">Add to audience</a>
        </div>
        <div class="table-responsive theme-datatable basic-theme-datatable mt-4">
            <table id="adduserGroup-table" class="table table-hover non-hover">
                <thead>
                    <tr>
                        <th class="checkbox-column"> Record Id </th>
                        <th>Serial No</th>
                        <th>Full Name</th>
                        <th>Mobile No</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 32; i++)
                    {
                        <tr>
                            <td class="checkbox-column"> @i </td>
                            <td>@i</td>
                            <td>Demo User</td>
                            <td>1234567890</td>
                            <td>Pune</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Script/addUserGroup.js"></script>
}
