
@{
    ViewBag.Title = "systemSettings";
}

<div class="page-header mt-4 py-0 px-3 col-12 widget">
    <div class="page-title my-3">
        <h3>System Setting</h3>
    </div>
</div>

<div class="layout-top-spacing">
    <div class="widget-content widget-content-area mb-4">
        <div class="table-responsive theme-datatable basic-theme-datatable mt-4">
            <table id="setting-table" class="table table-hover">
                <thead>
                    <tr>
                        <th class="checkbox-column"> Record Id </th>
                        <th>Sr No</th>
                        <th>Key</th>
                        <th>Values</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 12; i++)
                    {
                        <tr>
                            <td class="checkbox-column"> @i </td>
                            <td>@i</td>
                            <td>Facebook</td>
                            <td>
                                <input type="text" class="form-control shadow-none" placeholder="Enter Value" />
                            </td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm shadow-none">Save</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <button class="btn btn-success btn-sm shadow-none">Save All</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Script/systemSetting.js"></script>
}