
<div class="table-responsive theme-datatable basic-theme-datatable mt-4">
    <table id="product-table" class="table table-hover">
        <thead>
            <tr>
                <th>
                    <label class="new-control new-checkbox checkbox-outline-primary m-auto">
                        <input type="checkbox" class="new-control-input chk-parent select-customers-info" id="customer-all-info">
                        <span class="new-control-indicator"></span>
                        <span style="visibility:hidden;">c</span>
                    </label>
                </th>
                <th>Polish</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < 32; i++)
            {
                <tr>
                    <td>
                        <label class="new-control new-checkbox checkbox-outline-primary m-auto">
                            <input type="checkbox" class="new-control-input chk-parent select-customers-info" id="customer-all-info">
                            <span class="new-control-indicator"></span>
                            <span style="visibility:hidden;">c</span>
                        </label>
                    </td>
                    <td>18k</td>
                    <td class="text-center">
                        <ul class="table-controls d-flex align-items-center justify-content-center">
                            <li><a href="javascript:void(0);" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                            <li><a href="javascript:void(0);" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-6 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a></li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="stateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stateModalLabel">Add Polish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 float-left">
                        <div class="form-group">
                            <label for="melting">Polish</label>
                            <input type="text" class="form-control" id="melting" placeholder="Enter Melting">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary saveButton">Save</button>
                <button class="btn" data-dismiss="modal">Discard</button>
            </div>
        </div>
    </div>
</div>