
@{
    ViewBag.Title = "addCollection";
}

<div class="page-header mt-4 py-0 px-3 col-12 widget">
    <div class="page-title my-3">
        <h3>Collections</h3>
    </div>
</div>

<div class="layout-top-spacing">
    <div class="widget-content widget-content-area mb-4">
        <div class="w-100">
            <a href="/Product/myCollection" class="shadow-none btn btn-danger btn-sm">Back</a>
        </div>
        <div class="table-responsive theme-datatable basic-theme-datatable mt-4">
            <table id="addCollection-table" class="table table-hover">
                <thead>
                    <tr>
                        <th class="checkbox-column"> Record Id </th>
                        <th>SKU Code</th>
                        <th>Gross Weight</th>
                        <th>Net Weight</th>
                        <th>Quantity</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 32; i++)
                    {
                        <tr>
                            <td class="checkbox-column"> @i </td>
                            <td>CHOCO 011</td>
                            <td>284.000</td>
                            <td>0.000</td>
                            <td>4</td>
                            <td>
                                <div class="brandImg cursor-pointer" data-toggle="modal" data-target=".brandImage">
                                    <img src="/Content/assets/img/90x90.jpg">
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade brandImage" tabindex="-1" role="dialog" aria-labelledby="stateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stateModalLabel">Master Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <img src="~/Content/assets/img/200x200.jpg">
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger bg-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Script/addCollection.js"></script>
}

