
@{
    ViewBag.Title = "Add Product List";
}

<div class="page-header mt-4 py-0 px-3 col-12 widget">
    <div class="page-title my-3">
        <h3>Add Product</h3>
    </div>
</div>

<div class="account-settings-container layout-top-spacing mb-4">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    <form id="general-info" class="section general-info">
                        <div class="w-100 info pb-0">
                            <a href="/Product/productList"  class="shadow-none btn btn-danger btn-sm">Back</a>
                        </div>
                        <div class="info">
                            <h6 class="">Add Product Information</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-md-11 mx-auto">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="btn btn-sm btn-primary shadow-none" data-toggle="modal" data-target="#selectCategory">Select Category</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="skuCode">Collection SKU Code</label>
                                                        <input type="email" class="form-control mb-4" id="skuCode" placeholder="Enter Collection SKU Code" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="designNo">Design Number</label>
                                                        <input type="text" class="form-control mb-4" id="designNo" placeholder="Enter Design Number" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="grossWt">Gross Weight</label>
                                                        <input type="text" class="form-control mb-4" id="grossWt" placeholder="Enter Gross Weight" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="netWt">Net Weight</label>
                                                        <input type="text" class="form-control mb-4" id="netWt" placeholder="Enter Net Weight" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="melting">Melting</label>
                                                        <select class="selectpicker custom-bsSelect w-100" id="melting">
                                                            <option>Select Karat</option>
                                                            <option>Active</option>
                                                            <option>Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="length">Length</label>
                                                        <input type="text" class="form-control mb-4" id="length" placeholder="Enter Length" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="weight">Weight</label>
                                                        <input type="text" class="form-control mb-4" id="weigth" placeholder="Enter Comma Separated Weight" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="size">Size</label>
                                                        <input type="text" class="form-control mb-4" id="size" placeholder="Enter Size" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="worker">Worker</label>
                                                        <select class="selectpicker custom-bsSelect w-100" id="worker">
                                                            <option>Select Worker</option>
                                                            <option>Active</option>
                                                            <option>Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="workerCode">Worker Code</label>
                                                        <input type="text" class="form-control mb-4" id="workerCode" placeholder="Enter Worked Code" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="productName">Product Name</label>
                                                        <input type="text" class="form-control mb-4" id="productName" placeholder="Enter Product Name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="shape">Shape</label>
                                                        <input type="text" class="form-control mb-4" id="shape" placeholder="Enter Shape" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="account-settings-footer">

        <div class="as-footer-container">

            <button id="multiple-reset" class="btn btn-warning">Reset All</button>
            <div class="blockui-growl-message">
                <i class="flaticon-double-check"></i>&nbsp; Settings Saved Successfully
            </div>
            <button id="multiple-messages" class="btn btn-primary">Save Changes</button>

        </div>

    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="selectCategory" tabindex="-1" role="dialog" aria-labelledby="stateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stateModalLabel">Select Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 float-left">
                        <div class="form-group float-left col-md-12 col-lg-6 w-100 mb-3">
                            <h6 class="font-weight-bold">Select Category</h6>
                            <div class="float-left w-100 p-3 selectCategoryDiv border">
                                <ul class="file-tree">
                                    <li class="file-tree-folder">
                                        Title
                                        <ul>
                                            <li>File Name</li>
                                        </ul>
                                    </li>
                                    <li class="file-tree-folder">
                                        Title 1
                                        <ul>
                                            <li class="file-tree-folder">
                                                Title 2
                                                <ul>
                                                    <li>file name </li>
                                                    <li>file name </li>
                                                    <li>file name </li>
                                                </ul>
                                            </li>
                                            <li class="file-tree-folder">
                                                Title 3
                                                <ul>
                                                    <li>file name </li>
                                                    <li>file name </li>
                                                    <li>file name </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group float-left col-md-12 col-lg-6 w-100 mb-3">
                            <h6 class="font-weight-bold">Selected Category</h6>
                            <div class="float-left w-100 p-3 selectCategoryDiv border">
                                ....
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary saveButton">Save</button>
                <button class="btn" data-dismiss="modal">Discard</button>
            </div>
        </div>
    </div>
</div>
