
@{
    ViewBag.Title = "Product Master";
}

<div class="layout-top-spacing">
    <div class="widget-content widget-content-area">
        <div class="d-flex align-items-center justify-content-end w-100 productBtn">
            <div class="btn-group" role="group">
                <button id="btndefault" type="button" class="btn btn-info dropdown-toggle d-flex align-items-center justify-content-between" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Product Feild <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
                <div class="dropdown-menu" aria-labelledby="btndefault">
                    <a href="javascript:void(0);" class="dropdown-item">Melting</a>
                    <a href="javascript:void(0);" class="dropdown-item">Tone</a>
                    <a href="javascript:void(0);" class="dropdown-item">Size</a>
                    <a href="javascript:void(0);" class="dropdown-item">Polish</a>
                </div>
            </div>
        </div>
    </div>
</div>

