
@{
    ViewBag.Title = "Product Master";
}

<div class="page-header mt-4 py-0 px-3 col-12 widget">
    <div class="page-title my-3">
        <h3>Product Master Field</h3>
    </div>
</div>

<div class="layout-top-spacing">
    <div class="widget-content widget-content-area mb-4">
        <div class="d-flex align-items-center justify-content-end w-100 productBtn">
            <label for="chooseProduct" class="mb-0 mr-2">Choose Product Feild:</label>
            <select class="selectpicker custom-bsSelect" id="chooseProduct">
                <option>Select Product Feild</option>
                <option>Melting</option>
                <option>Tone</option>
                <option>Size</option>
                <option>Polish</option>
            </select>
        </div>

        @{
            Html.RenderPartial("_melting");
        }
    </div>
</div>

@section scripts {
    <script src="~/Script/product.js"></script>
}