<div class="w-100 mb-3 pb-3">
    <label class="w-100">Upload CSV File</label>
    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="imgUpload">
            <label class="custom-file-label m-0 bg-white border" for="imgUpload">Choose file</label>
        </div>
    </div>
</div>