
@{
    ViewBag.Title = "Location";
}

<div class="layout-top-spacing">
    <div class="widget-content widget-content-area animated-underline-content">

        <ul class="nav nav-tabs  mb-3" id="animateLine" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="animated-underline-country-tab" data-toggle="tab" href="#animated-underline-country" role="tab" aria-controls="animated-underline-country" aria-selected="true">Country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="animated-underline-state-tab" data-toggle="tab" href="#animated-underline-state" role="tab" aria-controls="animated-underline-state" aria-selected="false">State</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="animated-underline-city-tab" data-toggle="tab" href="#animated-underline-city" role="tab" aria-controls="animated-underline-city" aria-selected="false">City</a>
            </li>
        </ul>

        <div class="tab-content" id="animateLineContent-4">
            <div class="tab-pane fade show active" id="animated-underline-country" role="tabpanel" aria-labelledby="animated-underline-home-country">
                Hello
            </div>
            <div class="tab-pane fade" id="animated-underline-state" role="tabpanel" aria-labelledby="animated-underline-state-tab">
                Hello user
            </div>
            <div class="tab-pane fade" id="animated-underline-city" role="tabpanel" aria-labelledby="animated-underline-city-tab">
                Hello World!!
            </div>
        </div>
    </div>
</div>
